<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>cbbe2e11976ff3751749b88bb96cc3ab66aef67037d3bbc31bf837bf80096b4c</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>8c0371e91de87d199ed99a736f727f2ca997768eac32945b7af33febcf0f45fb</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>cbbe2e11976ff3751749b88bb96cc3ab66aef67037d3bbc31bf837bf80096b4c</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>8c0371e91de87d199ed99a736f727f2ca997768eac32945b7af33febcf0f45fb</string>
	<key>DEVELOPMENT</key>
	<true/>
	<key>RESOURCE_BUNDLE</key>
	<string>NotificareResources.bundle</string>
	<key>OPTIONS</key>
	<dict>
		<key>APP_RUNS_ON_BACKGROUND</key>
		<false/>
		<key>IMAGES_SHARING</key>
		<true/>
		<key>BACKGROUND_COLOR</key>
		<string>0x000000</string>
		<key>TITLE_COLOR</key>
		<string>0x000000</string>
		<key>BUTTONS_TEXT_COLOR</key>
		<string>0x000000</string>
		<key>TEXTFIELD_TEXT_COLOR</key>
		<string>0x000000</string>
		<key>TEXTFIELD_BACKGROUND_COLOR</key>
		<string>0xCCCCCC</string>
	</dict>
</dict>
</plist>
